@charset "UTF-8";

body, ul, li, fieldset, legend, h2, p {margin: 0; padding: 0; list-style: none;}
a {
    text-decoration: none;
    color:inherit;
}
address {
    font-style: normal;
}
fieldset { border: none; }
legend { display: none;}
input [type=radio] { margin: 3px 2px;}
input [type=checkbox] { margin: 3px 2px;}
button {border:none;}
:root {
    /* color */
    --font-color-top: #fff;
    --font-color-gnb: #fff;

    --bg-color-top: #111;
    --bg-color-gnb: #222;
    --bg-color-footer:#ccc;

    --btn-color: white;
    --btn-bg-color: green;    

    /* spacing */

    /* font-size */
    font-size: 16px;

    --font-size-middle: 0.8rem;
}

/* 공통 */
.content {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

/* uppermost */
#uppermost {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--bg-color-top);
}
#uppermost .content {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--font-color-top);
}
#uppermost .content .interval {
    padding: 0 5px;
}

/* header */
#header {
    height: 150px;
}

#header .content {
    height: 150px;
    background-image: url('https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762__340.jpg');
}

/* gnb */
#gnb {
    display: flex;
    align-items: center;
    height: 50px;
}
#gnb .content {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--bg-color-gnb);
}
#gnb .gnb-menu{
    display: flex;
    flex:1;
}
#gnb .gnb-menu .gnb-menu__item {
    /* display: flex; */
    flex: 1;        /* flex-grow:1; flex-shrink:1, flex-basis:0 */
    /* justify-content: center; */
}
#gnb .gnb-menu .gnb-menu__item .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
}

/* main */
#main .content {
    display: flex;
}

#main .content .aside {
    flex: 2;
    background-color: lightskyblue;
}

#main .content .section {
    display: flex;
    justify-content: center;
    flex: 8;
    background-color: lightcyan;
}

#main .content .section .signup-wrap {
    width: 250px;
    margin: 30px 0;
}

#main .content .section .signup-wrap .title {
    text-align: center;
    letter-spacing: 0.5em;
}

#main .content .section .signup-wrap .signup {
    background-color: white;
}

#main .content .section .signup-wrap .signup li {
    margin: 0.3px;
}


/* footer */
#footer {
    height: 70px;
    display: flex;
    align-items: center;
}

#footer .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-footer);
}

#footer .content address {
    font-size: var(--font-size-middle);
    font-weight: bold;
    color: var(--bg-color-footer);
}

/* button */
.btn {
    color:var(--btn-color);
    background-color: var( --btn-bg-color);
}
.btn__join {
    padding: 5px;
}

.width-100 {
    width: 100%;
}

.box-sizing--bdr {
    box-sizing: border-box;
}