<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <style>
        *{outline: 1px solid red;}
        body{margin:0}
        figure{
            height:100px;
        }
        body>header>nav>ul>li{
            list-style: none;
        }
    </style>
</head>

<body>
    <header>
        header
        <nav>
            <ul>
                <li>회원가입</li>
                <li>로그인</li>
                <li>고객센터</li>
            </ul>
        </nav>
    </header>
    <figure>
        figure
    </figure>
    <main>
        <section>section
            <article>article1</article>
            <article>article2</article>
            <article>article3</article>
            <article>article4</article>
            <article>article5</article>
        </section>
    </main>
    <footer>
        footer
    </footer>
</body>
</html>