<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div,span{
            outline: 1px solid red;

        }
        div{
            background-color: yellow;
            height: 50px;
            width: 100px
            
        }
        span{
            background-color: pink;
            height: 40px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div>div는 블럭레벨 태그1</div>
    <!-- <div>div는 블럭레벨 태2그</div>
    <span>span는 인라인레벨 태그1</span> -->
    <span>span는 인라인레벨 태그2</span>
    
</body>
</html>