<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /*
         선택자(selector)
         1. 태그 이름
         2. 클래스 속성값
         3. id 속성값
        */

        /* div{color:black;} */

        /* .c1{
            color: blue;
        }
        .c2{color: red; } */
        .c1{
            color: red;
        }
        #id1{
            color: green
        }
        .c2{
            color: blue;
        }

    </style>

</head>
<body>
    <div class="c1">1</div>
    <p class="c1" id="id1">2</p>
    <div class="c2">3 </div>
</body>
</html> 